.category-list {
  .swiper-cont {
    height: calc(100vh - 410px);
    padding-bottom: 96px;
  }
  .data-list {
    height: 100%;
  }

  .tab-filter {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 9;
    box-shadow: 0px -1px 0px 0px #eeeeee;
  }

  .tab-show {
    visibility: visible;
  }
  .tab-hide {
    visibility: hidden;
  }
  .tab {
    .tab-list {
      .list-item {
        line-height: 80px;
        padding: 0 20px;
        text-align: center;
        white-space: nowrap;
        position: relative;

        .text-active {
          font-weight: bold;
        }

        .icon-active {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 40px;
          height: 6px;
          border-radius: 6px;
          background-color: #eee;
          animation: iconShow 0.5s forwards;
        }
        @keyframes iconShow {
          0% {
            width: 0;
          }
          100% {
            width: 40px;
          }
        }
      }
    }
  }

  .empty-data {
    margin-top: 100px;
    &_img {
      width: 400px;
      height: 400px;
    }
    &_text {
      color: #999;
      font-size: 28px;
      margin-top: 32px;
    }
  }
}

.book-list-time {
  padding: 0 30px;
  .book-item {
    padding: 24px 0;
    width: 100%;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      transform: scaleY(0.5);
      background-color: #eee;
    }
    &_img {
      min-width: 180px;
      max-width: 180px;
      width: 180px;
      height: 240px;
      margin-right: 30px;

      &__src {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
    }

    &_title {
      color: #333;
      font-size: 32px;
      line-height: 44px;
      // @include lamp-clamp(2);
    }

    &_cont {
      font-size: 26px;
      color: #999;
      margin-top: 10px;
      // @include lamp-clamp(2);
    }

    &_time {
      color: #999;
      font-size: 24px;
      margin-top: 10px;
    }

    &_desc {
      margin-top: auto;
      font-size: 26px;
      &__state {
        color: #666;
      }
      &__time {
        color: #999;
      }

      &__count {
        font-size: 24px;
        color: #666;
      }
    }

    .rank {
      position: absolute;
      top: 6px;
      left: 0;
      padding: 0 6px;
      line-height: 36px;
      border-radius: 4px;
      color: #fff;
      font-size: 24px;
    }
    .rank0 {
      background-color: #ff3b30;
    }
    .rank1 {
      background-color: #fdd000;
    }
    .rank2 {
      background-color: #d5a372;
    }
    .rank3 {
      background-color: #eee;
      color: #333;
    }
  }
}
