.circleCard {
  position: relative;
  background-color: #fff;
  margin: 20rpx;
  padding: 20rpx 30rpx;

  &-center {
    margin-top: 10px;
    &__cover {
      width: 240rpx;
      height: 240rpx;
      border-radius: 16rpx;
      background-color: red;
      margin-right: 30rpx;
    }
    .card-right {
      height: 240rpx;
      justify-content: space-between;
    }
    &__title {
      color: #4c4948;
      font-size: 32rpx;
      margin-bottom: 20rpx;
    }
    &__subtitle {
      color: #6e6e6e;
      font-size: 22rpx;
    }
    &__yellowbg {
      color: #fe6513;
      font-size: 18rpx;
      border-radius: 20rpx;
      width: auto !important;
      display: inline-block;
      padding: 6rpx 15rpx;
      background: linear-gradient(right, #fff, #ffd8b7);
      margin-right: 6rpx;
    }

    &__notes {
      color: #4c4948;
      font-size: 22rpx;
      margin-top: 20rpx;
    }
    &__icon {
      width: 34rpx;
      height: 34rpx;
      margin-right: 16rpx;
    }
  }

  &-bottom {
    &__line {
      width: 100%;
      height: 1px;
      margin-top: 30rpx;
    }

    &__card-btn {
      right: 10rpx;
      width: 140rpx;
      height: 100rpx;
    }
  }
}
