.createPublish {
  width: 100%;
  background-color: #f7f8fb;
  padding-bottom: 100rpx;

  &-top {
    width: 100%;
    height: 560rpx;
  }

  &-section {
    padding: 40rpx 40rpx 0 40rpx;

    &__title {
      color: #030303;
      font-size: 34rpx;
      font-weight: bold;
      margin-top: 20rpx;

      text {
        color: #a5a5a5;
        font-size: 28rpx;
      }
    }

    .textarea {
      width: 100%;
      height: 120rpx;
      border-radius: 22rpx;
      background-color: #fff;
      padding: 20rpx;
    }

    &__add {
      padding: 30rpx 20rpx 20rpx 0;
    }

    .places {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .line {
      border-bottom: 1px solid #eaeaea;
    }
    .btn {
      margin-right: 20rpx;
      margin-top: 10rpx;
      margin-bottom: 10rpx;
    }

    .arrow {
      width: 18rpx;
      height: 30rpx;
    }
  }

  &-createBtn {
    width: 345rpx;
    height: 110rpx;
    margin-top: 60rpx;
  }
  .getphone-btn {
    width: 100rpx;
    color: #fa6400;
    background-color: #fff;
    border-radius: 45rpx;
    font-size: 24rpx;
    padding: 0;
  }

  .choose {
    .nav {
      background: #fff;
      border-radius: 45rpx;
      color: #a5a5a5;
      font-size: 24rpx;
      padding: 0rpx 30rpx;
      height: 70rpx;
    }
    .HMfilterDropdown {
      height: auto;
    }
  }
  .active_choose {
    .nav {
      border: 1px solid #fa6400;
    }
  }

  .picker-time {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .mask2 {
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
    .index {
      background: #fff;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
