// 不支持后代选择器 且子元素选择器支持度不友好
// 具体见 https://nervjs.github.io/taro/docs/component-style.html

@import "./mixins.scss";

page {
  height: 100%;
}

view,
text,
scroll-view {
  box-sizing: border-box;
}
image {
  display: block;
}

// button  ----start

button {
  font-size: 30px;
  border: none;

  // weapp中 after 默认会有边框
  &::after {
    display: none;
  }

  &:hover {
    text-decoration: none;
    outline: none;
  }
}

// button  ----end


.flex {
  display: flex;
}

.flex-left-center {
  display: flex;
  align-items: center;
}
.flex-left-start {
  display: flex;
  align-items: start;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex1 {
  flex: 1;
}

.f-w {
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.placeholderColor {
  color: #b2b2b2;
}

.border-radius{
  border-radius: 16rpx;
  background-color: #fff;
  margin: 40rpx 20rpx 0;
}