// 不支持后代选择器 且子元素选择器支持度不友好
// 具体见 https://nervjs.github.io/taro/docs/component-style.html

@import "./mixins.scss";

page {
  height: 100%;
}

view,
text,
scroll-view {
  box-sizing: border-box;
}
image,input {
  display: block;
}
input {
  width: 100%;
}

// button  ----start

button {
  font-size: 30px;
  border: none;

  // weapp中 after 默认会有边框
  &::after {
    display: none;
  }

  &:hover {
    text-decoration: none;
    outline: none;
  }
}

// button  ----end


.flex {
  display: flex;
}

.flex-left-center {
  display: flex;
  align-items: center;
}
.flex-left-start {
  display: flex;
  align-items: start;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-between-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex1 {
  flex: 1;
}

.f-w {
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.placeholderColor {
  color: #b2b2b2;
  font-size: 28rpx;
}

.border-radius{
  border-radius: 16rpx;
  background-color: #fff;
  margin: 40rpx 20rpx 0;
}

.default-btn{
  background: #fff;
  border-radius: 45rpx;
  color: #4C4948;
  font-size: 32rpx;
  padding: 20rpx 30rpx;
}

.active-btn{
  background: linear-gradient(right, #FE5F0B, #FCAD67);
  border-radius: 45rpx;
  box-shadow: 0 10rpx 18rpx rgba(250, 100, 0, 0.32);
  color: #fff;
  font-size: 32rpx;
  padding: 20rpx 30rpx;
}

.default-btn2{
  background: #fff;
  border-radius: 45rpx;
  color: #A5A5A5;
  font-size: 24rpx;
  padding: 14rpx 30rpx;
}

.active-btn2{
  background: #fff;
  border-radius: 45rpx;
  color: #FA6400;
  font-size: 24rpx;
  padding: 14rpx 30rpx;
  border: 1px solid #FA6400;
}